.guarantee{
	&__content{
		display: grid;
		grid-template-columns: 1fr 1fr;
		column-gap:40px;
		@media (max-width: 991px) {
		  grid-template-columns: 1fr ;
		  row-gap:40px;
		
		}
	}
	&-text{
		padding-top: 30px;
		
		.text-32{
			margin-bottom: 30px;
			text-align: center;
			}
		.text-26{margin-top: 50px;}
		}
	&-icons{
		display: flex;
		justify-content: space-between;
		margin-bottom: 40px;
		&__item{
			width: 150px;
			text-align: center;
			@media (max-width: 767px) {
			 width: 100px;
			 svg{
				height: 50px;
			 }
			}
		}
		.text-20{
			margin-top: 10px;
			line-height: 1.3;
			@media (max-width: 767px) {
			font-size: 13px;
			}
		}
	}	

}
.svg-guarant1,
.svg-guarant2,
.svg-guarant3 {
	stroke: $accent2;
	width: 47px;
	height: 58px;
}

.svg-guarant2 {
	width: 72px;
	height: 67px;
}

.svg-guarant3 {
	width: 53px;
	height: 66px;

	text {
		fill: $accent2;
	}
}