.partners{
	overflow: hidden;
	.slick-slide{
		padding-left: 10px;
		padding-right: 10px;
		
	}
	.slick-prev {
		left: -60px;
	}

	.slick-next {
		right: -60px;
	}
	&-slider{
		width: 100%;
		max-width: 1200px;
		padding-left: 15px;
		padding-right: 15px;
		margin-left: auto;
		margin-right: auto;
	}
	&-slider__logo{
		width: 100%;
		height: 35px;
		margin-bottom: 20px;
		opacity:.3;
		img{
			width: 100%;
			height: 35px;
			object-fit: contain;
		}
	}
	&-slider__card{
		height: calc(100% - 55px);
		text-align: center;
		border-radius:12px;
		font-size: 16px;
		font-family: 'WorkSans-Light';
		padding: 50px 24px 15px;
		background: url(../img/partners/quotes.svg) no-repeat 50% 80px/140px,
			linear-gradient(180deg, #222959, #10142c);
		span {
			font-family: 'WorkSans-Regular';
			display: block;
			margin-top: 16px;
		}
	}
}
.partners-traffic{
	overflow: hidden;
	.results-cta__text{max-width: 480px;}
	&-slider{
		margin-left: 60px;
		margin-right: 60px;
		margin-bottom: 60px;
		.slick-arrow.slick-prev {
				left: -40px;
				display: inline-block!important;
				
			}.slick-arrow.slick-next {
				right: -40px;
				display: inline-block !important;
				
			}
		
		@media (max-width: 767px) {
			margin-left: 15px;
			margin-right: 15px;
			margin-bottom: 40px;
			.slick-arrow.slick-prev {
				left: 0;
				
			}
		
			.slick-arrow.slick-next {
				right: 0;
				
		
			}
		}
	}
	&-item{
		height: 200px;
		display: flex!important;
		justify-content: center;
		align-items: center;
		opacity: .3;
	}
}