//====== what-we-do =======
section.ww-do
	.container
		.ww-do__title-mobile
			h2.h2.title-spacing agency
			.h2.sub-line What We Do
		.ww-do__img
			img(src="./img/ww-do.svg", width="540" alt="img")
		
		.ww-do__text
			.ww-do__title-desktop
				h2.h2.title-spacing agency
				.h2.sub-line What We Do
			
			
			p #[strong 6H has driven millions of sales for our clients] across the globe. Our largest markets are the US, UK, and Germany.

			p We work closely with large clients, supporting their in-house marketing teams and managing their ad accounts. As a premium partner for #[strong Taboola], in the DACH region, we fully manage our clients Native advertising efforts.
	
