//============ founders ============ 
section.founders
	.container
		h3.h2 Our Founders
		.text-20
			p With over 20 years of combined marketing experience at it's helm, 6H Agency aims to change the way traditional client - agency partnerships work, focusing instead on value added and quality of service delivered.
		
	.founders-cards
		//==== single card ======
		.founders-card
			.founders-card__img
				img(src="./img/team1.png", alt="alt")
			.founders-card__text
				p Michael Brenner
				span CEO, Co-founder
		
		//==== single card ======
		.founders-card
			.founders-card__img
				img(src="./img/team2.png", alt="alt")
			.founders-card__text
				p Max Gabath
				span Co-founder

		//==== single card ======
		.founders-card
			.founders-card__img
				img(src="./img/team1.png", alt="alt")
			.founders-card__text
				p Michael Brenner
				span CEO, Co-founder
		
		//==== single card ======
		.founders-card
			.founders-card__img
				img(src="./img/team2.png", alt="alt")
			.founders-card__text
				p Max Gabath
				span Co-founder