//========= guarantee ==========
section.guarantee 
	.container
		.h2 Our Performance Guarantee
		
		.guarantee__content
			.guarantee-img
				img(src="./img/guarantee.svg", width="540" alt="img")
			
			.guarantee-text
				.text-upper.text-32.text-bold In 3 months we will
				.guarantee-icons
					//==== single-item =====
					.guarantee-icons__item
						svg.svg-guarant1
							use(href="./img/spriteSvg.svg#svg-guarant1")
						
						.text-20 Scale up your AD Spend
					
					//==== single-item =====
					.guarantee-icons__item
						svg.svg-guarant2
							use(href="./img/spriteSvg.svg#svg-guarant2")
						
						.text-20 Reduce your CPA/CPL
					
					//==== single-item =====
					.guarantee-icons__item
						svg.svg-guarant3
							use(href="./img/spriteSvg.svg#svg-guarant3")
						
						.text-20 Grow your business
					
				.guarantee-desk.text-20.text-light
					p We promise our partners transparency, creativity, and   performance. From onboarding and brainstorming  creative approaches to executing and optimizing campaigns.

				.text-upper.text-26 WE DELIVER RESULTS!