section.header-banner
	.container
		.header-banner-slider#header-slider
			h1.h1 Cutting Edge <br> Performance Marketing <br>At Scale
			//==== single slide ===
			.header-banner__item
				.header-banner__title
					.h3 TAILORED CREATIVES
					.text-20 We'll provide you with a team of creative geniuses
				.header-banner__img
					
					img(src="./img/header-slider/slide1.svg", width="500" alt="img")
			
			//==== single slide ===
			.header-banner__item
				.header-banner__title
					.h3 TAILORED CREATIVES
					.text-20 We'll provide you with a team of creative geniuses
				.header-banner__img
					
					img(src="./img/header-slider/slide1.svg", width="500" alt="img")

			//==== single slide ===
			.header-banner__item
				.header-banner__title
					.h3 TAILORED CREATIVES
					.text-20 We'll provide you with a team of creative geniuses
				.header-banner__img
					
					img(src="./img/header-slider/slide1.svg", width="500" alt="img")