section.header-banner
	.container
		h1.h1 Cutting Edge  Performance&nbsp;Marketing At Scale
		.header-banner-slider#header-slider
			//==== single slide ===
			.header-banner__item
				.header-banner__title
					.h3 TAILORED CREATIVES
					.text-20 We'll provide you with a team of creative geniuses
				
				.header-banner__img
					img(src="./img/header-slider/slide1.svg", width="500" alt="img")
			
			//==== single slide ===
			.header-banner__item
				.header-banner__title
					.h3 Experienced Media Buying
					.text-20 Best in class at delivering results fast - at scale!
				
				.header-banner__img
					img(src="./img/header-slider/slide2.svg", width="500" alt="img")

			//==== single slide ===
			.header-banner__item
				.header-banner__title
					.h3 Marketing Solutions That Deliver
					.text-20 We've generated over 250  million  Euros in revenue for clients around the world
				
				.header-banner__img
					img(src="./img/header-slider/slide3.svg", width="500" alt="img")