section.grow-us
	.container
		h3.h2 GROW WITH US
		.grow-us__content
			.grow-us__title
				p Tired of stagnant growth or expensive marketing gurus?
			.grow-us__subtitle
				p Take our agency onboarding quiz and we'll get in touch with you! 
			
			.grow-us__img
				img.img-base(src="./img/grow-rocket-bg.svg", alt="img")
				img.img-rocket(src="./img/grow-rocket.svg", alt="img")
				img.img-text(src="./img/grow-img-text.svg", alt="img")
            
			.grow-us__btn
				a(href="#!").btn Take the Quiz