//=================== out-impact ===============
section.out-impact
	.container
		h3.h2 Our impact
		.quote
			.quote__text
				p  “Those who are happiest are those who do the most for others”
			.quote__author
				p  Booker T. Washington

		.out-impact__content
			.out-impact-results
				//====single item ====
				.results-item
					svg.svg-payment
						use(href="./img/spriteSvg.svg#svg-payment")
					.text-52 €1.4M+
					.text-21 Raised <br>for Charity

				//====single item ====
				.results-item
					svg.svg-hands
						use(href="./img/spriteSvg.svg#svg-hands")
					.text-52 3
					.text-21 Initiatives <br>Supported

			.out-impact__text
				.text-32.text-demi Our CSR initiatives in numbers
				.text-20.text-light
					p We believe in helping others, and pursuing a variety of projects and ideas around  CSR. Although our CSR initiatives are in their infancy, they remain a fundamental part of our corporate identity.
			