section.partners
	.container
		h3.h2 Some Of Our Agency Partners
	
	.partners-slider#partners-slider
		
		//===== single slide =========
		.partners-slider-item
			.partners-slider__logo
				img(src="./img/partners/1.png", height="35"  alt="")
			.partners-slider__card
				p 6H has helped us increase our campaigns and  lowered our costs greatly! They are our 1-stop shop advertising solution for all advertising  solutions.
				span Ali Gani, Head of Marketing McMakler.
				

		//===== single slide =========
		.partners-slider-item
			.partners-slider__logo
				img(src="./img/partners/2.png", height="35"  alt="")
			.partners-slider__card
				p 6H agency is the best partner for us for  data-driven and extremely fast scalable native advertising. In addition, there is a  perceived 24/7 support with a consulting offering that extends beyond the main projects.
				span Johannes Juretzka, Founder/Owner


		//===== single slide =========
		.partners-slider-item
			.partners-slider__logo
				img(src="./img/partners/3.png", height="35"  alt="")
			.partners-slider__card
				p Michael and his team are the ideal partners for us: fast, competent, results-driven and fit into our corporate culture.
				span Cosimo Helmboldt, Chief Marketing Officer					
				
				


		//===== single slide =========
		.partners-slider-item
			.partners-slider__logo
				img(src="./img/partners/4.png", height="35"  alt="")
			.partners-slider__card
				p When we think performance and Taboola, we think  6H. The team in Cologne has consistently delivered impressive results for a huge range of clients. Our Go-To Partner in the German space.
					
				span Emina Biscevic Sales director, Enterprise and Performance DACH at Taboola.

		//===== single slide =========
		.partners-slider-item
			.partners-slider__logo
				img(src="./img/partners/5.png", height="35"  alt="")
			.partners-slider__card
				p 6H is consistently delivering top-notch     performance   at scale. The team in Cologne has helped us build up our native campaigns and funnels from  scratch. They are honest and transparent partners.

				span Sascha Arndt, Head of Display, Affiliate & E-Mail at ERGO Group AG.


//=======  Traffic Source Partners -===
section.partners-traffic
	.container
		h3.h2 Traffic Source Partners
	
	.partners-traffic-slider#partners-traffic
		
		//===== single slide =========
		.partners-traffic-item
			img(src="./img/partners/outbrain.png", width="214" height="71" alt="logo")
		.partners-traffic-item
			img(src="./img/partners/facebook.png", width="130" height="27" alt="logo")
		.partners-traffic-item
			img(src="./img/partners/google.png", width="118" height="39" alt="logo")
		.partners-traffic-item
			img(src="./img/partners/instagram_logo.svg", width="214" height="76" alt="logo")
		.partners-traffic-item
			img(src="./img/partners/LiquidM.png", width="128" height="87" alt="logo")
		.partners-traffic-item
			img(src="./img/partners/adup.png", width="163" height="67" alt="logo")
		.partners-traffic-item
			img(src="./img/partners/taboola.png", width="141" height="34" alt="logo")
		.partners-traffic-item
			img(src="./img/partners/google.png", width="118" height="39" alt="logo")