
//============ RESULTS ===========
section.results
	.container
		.results-cta
			.results-cta__text
				.text-36.text-bold
					p 6H in numbers
				.text-32.text-bold
					p We have driven over €250 Million+ in revenue for our clients!
			.results-cta__btn.text-bold
				a(href="#!").btn Grow with us
		.results-wrapper
			//====single item ====
			.results-item
				svg.svg-result1
					use(href="./img/spriteSvg.svg#svg-result1")
				.text-46.text-bold 300M+
				.text-18 Ad Clicks

			//====single item ====
			.results-item
				svg.svg-result2
					use(href="./img/spriteSvg.svg#svg-result2")
				.text-46.text-bold 5M+
				.text-18 Leads Acquired

			//====single item ====
			.results-item
				svg.svg-result3
					use(href="./img/spriteSvg.svg#svg-result3")
				.text-46.text-bold 250M+
				.text-18 Revenue Generated

			//====single item ====
			.results-item
				svg.svg-result4
					use(href="./img/spriteSvg.svg#svg-result4")
				.text-46.text-bold 500K+
				.text-18 Creative Variations