//========= services =============
section.services
	.container
		.h2 We Offer The Following Services
		.services-wrapper
			.services-card
				.services-card__icon
					img(src="./img/service1.svg", width="110" height="110" alt="img")
				p Account audit<br> and setup
			.services-card
				.services-card__icon
					img(src="./img/service2.svg", width="110" height="110" alt="img")
				p Efficient<br> Scaling
			.services-card
				.services-card__icon
					img(src="./img/service3.svg", width="110" height="110" alt="img")
				p High Quality<br> Creatives
			.services-card
				.services-card__icon
					img(src="./img/service4.svg", width="110" height="110" alt="img")
				p Optimized and Agile<br> Landing Pages
			.services-card
				.services-card__icon
					img(src="./img/service5.svg", width="110" height="110" alt="img")
				p Experienced <br>Copywriting
			.services-card
				.services-card__icon
					img(src="./img/service6.svg", width="110" height="110" alt="img")
				p Elite Team Of<br> Media Buyers