//============ stand-for ============
section.stand-for
	.container
		h3.h2 What We Stand For
		.stand-for-cards
			//===single card =======
			.stand-for-item
				.stand-for__icon
					img(src="./img/stand-for1.svg", alt="alt")
				.stand-for__text
					.h4 DIVERSITY
					p We believe blending our unique backgrounds, international mindsets, and multi-cultural awareness enriches us as one global team, yields stellar results for our customers, and challenges us to be better every single day.

			//===single card =======
			.stand-for-item
				.stand-for__icon
					img(src="./img/stand-for2.svg", alt="alt")
				.stand-for__text
					.h4 PASSION
					p While each of us forms our own unique path, we are united by entrepreneurship, humbleness, and the desire to be the best version of ourselves. We live and breathe what we do. And that is what makes us experts in helping our customers’ businesses thrive.

			//===single card =======
			.stand-for-item
				.stand-for__icon
					img(src="./img/stand-for3.svg", alt="alt")
				.stand-for__text
					.h4 TEAM SPIRIT
					p We welcome candidates from all academic and professional backgrounds. We are looking for innovative thinkers and hands-on enthusiasts with a passion for the start-up environment to join our international team.