$text: #fff;
$bodyBg:#121428;
$accent: #1c72fd;
/* цвета кнопки*/ 
$btn-text: #fff;
$btn-bg: #1c72fd;

/* цвет иконки меню*/
 $burger: #fff;
 /* цвет фона при открытом меню*/
$overlayBg: rgba(255,255,255, .5);


* {
	box-sizing: border-box;
  }
  
  html {
	scroll-behavior: smooth;
  }
  
  html,
  body {
	margin: 0;
	padding: 0;
	width: 100%;
  font-family: 'WorkSans-Medium';
  color: $text;
  background-color: $bodyBg;
	-webkit-font-smoothing: antialiased;
  }
  .lock{
    overflow: hidden;
    touch-action: none;
    -ms-touch-action: none;
    height: 100vh;
  }
  
 
  a,
  a:hover {
	text-decoration: none;
  color: inherit;
  }
  
  ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
  }
  
  h1,
  h2,
  h3,
  h4,
  p {
	padding: 0;
	margin: 0;
  }

  img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
  }
  
  input,
  button, button:focus, input:focus, textarea, textarea:focus {
	  outline: none;
  }
  
  button {
	padding: 0;
	background-color: transparent;
	border: none;
	box-shadow: none;
	cursor: pointer;
  }
input[type="submit"]{
	padding: 0;
	cursor:pointer;
}
// input:-webkit-autofill,
// input:-webkit-autofill:hover,
// input:-webkit-autofill:focus,
// textarea:-webkit-autofill,
// textarea:-webkit-autofill:hover,
// textarea:-webkit-autofill:focus,
// select:-webkit-autofill,
// select:-webkit-autofill:hover,
// select:-webkit-autofill:focus {
//   border-bottom: 1px solid red;
//   -webkit-text-fill-color: #ffffff;
//   -webkit-box-shadow: 0 0 0px 1000px #01203c inset;
//   transition: background-color 5000s ease-in-out 0s;
// }
.container,.container-xl{
  width: 1110px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  @media (max-width: 1199px) {
    width: 970px;
  }
  @media (max-width: 991px) {
   width: 760px;
  }
    @media (max-width: 767px) {
      width: 330px;
    }
}
.container-xl{
  width: 100%!important;
  max-width: 1110px;
}
.btn{
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 16px;
  color: $btn-text;
  text-decoration: none;
  background: $btn-bg;
  line-height: 46px;
  padding: 0 30px;
  border-radius: 46px;
  height: 46px;
  transition: .3s;
  white-space: nowrap;
  &:hover{
    background-color: darken($btn-bg, 10%);
  }

    @media (max-width: 767px) {
      height: 36px;
      line-height: 36px;padding: 0 16px;
    }
}
.flex-mobile{
  display: none!important;
  @media (max-width: 767px) {
    display: flex !important;
  }
}
.flex-tablet{
  display: flex !important;
  
  @media (max-width: 767px) {
    display: none !important;
  }
}
.h1{
  font-family: 'WorkSans-SemiBold';
  font-size: 55px;
  line-height: 1.2;
  position: relative;
  z-index: 2;
  @media (max-width: 1199px) {
    font-size: 50px;
  }
  @media (max-width: 991px) {
    font-size: 46px;
  }
}
.h3 {
 
  font-size: 26px;
  line-height: 1.35;
  text-transform: uppercase;
}
.text-20{
  font-size: 20px;
  line-height: 1.3;
}