extends ../layouts/layout.pug

block content
	include ../sections/_header.pug
	main.main
		include ../sections/_header-slider.pug
		include ../sections/_results.pug
	
	
	
block variables
	-var title = "Page";
