extends ../layouts/layout.pug

block content
	include ../sections/_header.pug
	main.main
		include ../sections/_header-slider.pug
		include ../sections/_results.pug
		include ../sections/_agency.pug
		include ../sections/_guarantee.pug
		include ../sections/_services.pug
		include ../sections/_partners.pug
		include ../sections/_our-impact.pug
	
	
	
block variables
	-var title = "Page";
